*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 85vh;
    background-color: #5c21b1;
    border-radius: 40px 40px 0 0;
}

nav{
    display: flex;
    align-items: center;
    color: white;
    text-transform: capitalize;
    width: 100%;
    margin: 0 5%;
}

nav img{
    width: 90px;
    height: 30px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 20%;
}

.navbar li{
    list-style: none;
    font-size: 12px;
    margin: 10px;
}

nav button{
    background-color: #1bbde8;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
}

.container{
    display: flex;
    align-items: center;
    color: white;
    margin: 0 5%;
}

.container-text h1{
    font-size: 3.5rem;
    line-height: 70px;
}

.container-text p{
    width: 70%;
    font-size: 10px;
    margin-top: 40px;
}

.container-img{
    width: 60%;
}

.container-img img{
    width: 430px;
    height: 410px;
    padding-right: 30px;
}

.main{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

.main-img img{
    width: 390px;
    height: 390px;
}

.main-text{
    width: 30%;
    margin-top: 50px;
}

.main-text h2{
    font-size: 22px;
}

.main-box{
    margin: 30px 0;
}

.main-box h4{
    font-size: 12px;
}

.main-box p{
    font-size: 12px;
    margin: 15px 0;
}

.main-box h4 i{
    margin-right: 10px;
}

.main-text div:nth-child(2) i{
    color: #ffa500;
}

.main-text div:nth-child(3) i{
    color: #90ee90;
}

.main-text div:nth-child(4) i{
    color: #008b8b;
}

.feature-heading{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.lower-card{
    height: 200px;
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    margin: 0 15px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #b2b2b2;
}

.card h4{
    text-transform: capitalize;
    font-size: 14px;
    padding-top: 20px;
}

.card p{
    font-size: 10px;
    padding: 5px 20px;
}

.card img{
    width: 30px;
    height: 30px;
    margin-top: 17px;
}

.card-img{
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px 0;
}

.lower-card div:first-child div:first-child{
    background-color: #eed7d7;
}

.lower-card div:nth-child(2) div:first-child{
    background-color: #bbe69c;
}

.lower-card div:nth-child(3) div:first-child{
    background-color: #9c9bdd;
}

.lower-card div:last-child div:first-child{
    background-color: #ddbbdd;
}

.lower-card div:first-child div:last-child{
    height: 50%;
    border-radius: 20px;
    background-color: #5c21b1;
    color: white;
}

/* Adding the responsiveness in the website */
@media only screen and (max-width: 600px) {
    header{
        height: auto;
    }
    
    nav{
        justify-content: space-between;
        margin: 0 2%;
    }
    
    .navbar{
        margin: 30px 0;
    }
    
    .navbar li{
        margin: 0;
        margin-right: 2px;
    }
    
    nav button{
        width: fit-content;
        padding: 2px;
        margin-right: 5px;
        font-size: 10px;
        font-weight: 500;
    }
    
    nav img{
        width: 50px;
        height: 15px;
        margin-right: 2px;
    }

    .container{
        flex-direction: column;
    }

    .container-text h1{
        font-size: 2.2rem;
        line-height: 50px;
    }

    .container-text p{
        width: 100%;
        margin-top: 10px;
    }

    .container-img{
        width: 100%;
    }
    
    .container-img img{
        padding-right: 0px;
    }

    .main{
        align-items: center;
        flex-direction: column;
    }

    .main-img img{
        width: 390px;
        height: 390px;
    }
    
    .main-text{
        width: 100%;
        margin-top: 10px 0;
    }
    
    .main-box{
        margin: 10px 0;
    }
    
    .main-box p{
        margin: 10px 0;
    }
    
    .lower-card{
        height: auto;
        margin: 25px 5px;
        justify-content: center;
        gap: 30px;
    }
  }